<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Projects</h2>
        <div class="project-container" id="projects1">
            <div class="project-card">
                <img class="project-img" src="/Project-1.png" alt="Project-1">

                <p class="subtext">Online food ordering and delivery</p>
                <hr>
                <p class="sub-text"> <a class="project-link" href="https://good-foood.netlify.app/" target="_blank">View
                        Here</a> </p>
            </div>
            <div class="project-card">
                <img class="project-img" src="/Project-2.png" alt="Project-2">
                <!-- <h3>Project Two</h3> -->
                <p class="subtext">Article about Dr. Norman Borlaug</p>
                <hr>
                <p class="sub-text"><a class="project-link" href="https://codepen.io/nandan_kumar_n/pen/rNmwMKx"
                        target="_blank">View Here</a></p>
            </div>
            <div class="project-card">
                <img class="project-img" src="/Project-3.png" alt="Project-3">
                <!-- <h3>Project Threee</h3> -->
                <p class="subtext">My Own Portfolio</p>
                <hr>
                <p class="sub-text"> <a class="project-link" href="https://nandan-kumar.netlify.app/"
                        target="_blank">View Here</a></p>
            </div>
            <div class="project-card">
                <img class="project-img" src="/Project-4.png" alt="Project-4">
                <!-- <h3>Project Four</h3> -->
                <p class="subtext">Handcrafted, home-made masterpieces</p>
                <hr>
                <p class="sub-text"> <a class="project-link" href="https://codepen.io/nandan_kumar_n/pen/BaRZZvw"
                        target="_blank">View Here</a></p>
            </div>
        </div>
</body>
</html>